<h1>Missions#show</h1>
<p>Find me in app/views/missions/show.html.erb</p>

<%= @mission.company %>
<%= @mission.location %>
<%= @mission.start_date %>
<%= @mission.end_date %>

<%= link_to 'edit', edit_mission_path(@mission) %>

