


<h3><%= @mission.title %></h3>
<p>Company:<%= @mission.company %> </p>
<p>Location:<%= @mission.location %></p>
<p><%= @mission.description %></p>
<p><%= @mission.url %></p>
<p><%= @mission.start_date %></p>
<p><%= @mission.end_date %></p>
<p><%= @mission.salary %></p>

<% @mission.taggings.each do |tagging| %>
  <div class="btn btn-success"> <%= tagging.tag.name %></div>
<% end %>

<div class="container">
<%= link_to 'edit', edit_mission_path(@mission), class: 'btn btn-primary' %>

<%= link_to 'destroy', mission_path(@mission), method: :delete, class: 'btn btn-warning' %>
</div>
